{% extends "base_generic.html" %}

{% block title %}RSE_AC: Events{% endblock title %}

{% block content %}
    <h1> Eventkalender </h1>

    <p>
        Hier findest du alle Infos zu aktuellen und vergangenen Veranstaltungen 
        zum Thema RSE im Raum Aachen und Umgebung. Solltest du ein Event vermissen oder
        selbst eines planen, welches wir hier veröffentlichen sollen, dann schreib uns
        einfach eine kurze <a href="mailto:">mail</a>.
    </p>

    <h3>Lokale Events</h3>
    <table>
        <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Veranstaltungsort</th>
            <th>Veranstalter</th>
        </tr>

        {% for event in local_upcomming_events %}
            <tr>
                <td>{{ event.date }}</td>
                {% if event.weblink %}
                    <td>
                        <a href="{{ event.weblink }}" target="_blank">
                            {{ event.title }}
                        </a>
                    </td>
                {% else %}
                    <td>{{ event.title }}</td>
                {% endif %}
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
                <td>{{ event.location }}</td>
                {% if event.event_host.weblink %}
                <td>
                    <a href="{{ event.event_host.weblink }}" target="_blank">
                        {{ event.event_host.name }}
                    </a>
                </td>
                {% else %}
                <td>
                    {{ event.event_host.name }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <h3>Überregionale Events</h3>
    <table>
        <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Veranstaltungsort</th>
            <th>Veranstalter</th>
        </tr>

        {% for event in non_local_upcomming_events %}
            <tr>
                <td>{{ event.date }}</td>
                {% if event.weblink %}
                    <td>
                        <a href="{{ event.weblink }}" target="_blank">
                            {{ event.title }}
                        </a>
                    </td>
                {% else %}
                    <td>{{ event.title }}</td>
                {% endif %}
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
                <td>{{ event.location }}</td>
                {% if event.event_host.weblink %}
                <td>
                    <a href="{{ event.event_host.weblink }}" target="_blank">
                        {{ event.event_host.name }}
                    </a>
                </td>
                {% else %}
                <td>
                    {{ event.event_host.name }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}